body{
    height: auto;
    width: auto;
}
#layout{
    display: flex;
   justify-content:center;
}
#counter{
     text-align: center;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    margin: auto 0;
    border-radius: 10%;
}

.button1{
    margin-right: 25px;
    color:white;
    font-size: 50px;
    height: 100px;
    width: 100px;
    border-radius: 10%;
    background-color: rgba(159,159,159);
    border: 5px rgba(159,159,159);
}
.button2{
    margin-left: 25px;
    color: white;
    font-size: 50px;
    height: 100px;
    width: 100px;
    border-radius: 10%;
    background-color: rgba(159,159,159);
    border: 5px rgba(159,159,159);

}
.button1:hover{
    background-color: white;
    color: rgba(159,159,159);
    border: 3px solid rgba(159,159,159, 1);
}
.button2:hover{
    background-color: white;
    color: rgba(159,159,159);
    border: 3px solid rgba(159,159,159, 1);
}
input{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    height: 100px;
    width: 125px;
    font-size:  50px;
    text-align: center;
    border-radius: 10%;

}

.marginfix{
    margin-top: 100px;
    text-align: center;
}

#num{
    border: solid  rgba(159,159,159, 1);
    font-size: 50px;
    height: 100px;
    width: 125px;
    border-radius: 10%;
}